body {
    margin: 1% 0 0 8%;
    padding-top: 80px;
    display: flex;
    justify-content: absolute;
    height: 100vh;
    background: linear-gradient(45deg, rgba(74,145,255,1) 0%, rgba(71,191,223,0) 100%);
    font-family: "Poppins",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }